body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    width: 1000px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    background: #fff;
    position: relative;
    height: 100vh;
}

form {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 400px;
}

.image1 img {
    width: 100px;
}

.image2 img {
    width: 650px;
}

.heading h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-size: 24px;
}

.input-email,
.input-password {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px; /* Maintain spacing between fields */
    font-size: 16px;
    width: 93%; /* Full width of the form */
    display: block;
}

.horizontal {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

label {
    font-size: 14px;
    color: #333;
}

.forgot-password {
    font-size: 12px;
    color: #007BFF;
    text-align: right;
}

.forgot-password:hover {
    text-decoration: underline;
}

.submit-button {
    justify-content: center;
    align-items: center;
    padding: 12px;
    background: #007BFF;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px; /* Add space above the button */
    width: 50%; /* Button width */
    display: block;
    margin-left: auto; /* Center horizontally */
    margin-right: auto; /* Center horizontally */
    text-align: center;
}

.submit-button:hover {
    background: #0056b3;
}
footer {
    position: absolute; /* Ensure footer is positioned at the bottom */
    bottom: 0;          /* Attach it to the bottom of the form */
    width: 100%;        /* Make footer span the width of the form */
    text-align: center; /* Center the footer content */
    color: #333;
    font-size: 12px;
    font-weight: bold;
}